body {
    background-color:rgb(218, 161, 184);
    color: #ffffff;
}
h1 {
    font-family: 'Sour Gummy', sans-serif;
}
.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 2px; 
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.animate__bounceIn {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounceInDown; 
    animation-duration: 2s; 
}

img {
    height: 90px; 
    object-fit: cover;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}

.table td, .table th {
    vertical-align: middle; 
    padding: 10px; 
}